/* header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.header button {
  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
  background-color: #4f46e5;
  color: white;
}

.header button:hover {
  background-color: #4338ca;
}
